/* mobile style*/

/*event-card*/

.event-card {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 90vw;
  height: 120px;
  margin: 8px auto;
  padding: 8px 16px;
}

.event-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.event-card img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.cards-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  margin-left: 0px;
  margin-top: 0px;
  gap: 8px;
  flex-wrap: wrap;
}

/* display only two first spans in cards-tags
.cards-tags span:nth-child(n + 3) {
  display: none;
} */

.cards-tag {
  font-size: 0.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  padding: 2px 4px;
  /*no wrap*/
  white-space: nowrap;
}

#event-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 550;
  margin-bottom: 4px;
}

#event-short-description {
  /*maximum 3 lines*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.75rem;
}

/*stadium card*/
.stadium-card {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 90vw;
  height: 120px;
  margin: 8px auto;
  padding: 8px 16px;
}

.stadium-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.stadium-card img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

#stadium-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 550;
  margin-bottom: 4px;
}

#stadium-description {
  /*maximum 3 lines*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.75rem;
  margin-bottom: 0;
}

#acces-stadium {
  /*no decoration for the link*/
  text-decoration: none;
  font-size: 0.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #151d48;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 2px 4px;
  /*no wrap*/
  white-space: nowrap;
  width: fit-content;
  /*position fixed bottom right of its container*/
  position: absolute;
}

/*cinemas card*/
.cinemas-card {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 90vw;
  height: 120px;
  margin: 8px auto;
  padding: 8px 16px;
}

.cinemas-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.cinemas-card img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

#cinemas-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 550;
  margin-bottom: 4px;
}

#cinemas-address {
  font-size: 0.75rem;
  margin-bottom: 0;
}
