/*common to all cards, no matter their APIs*/

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 90vw;
  min-height: 120px;
  margin: 8px auto;
  padding: 16px 16px;
}

.card img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 550;
  margin-bottom: 4px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.cards-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  margin-left: 0px;
  margin-top: 0px;
  gap: 8px;
  flex-wrap: wrap;
}

.cards-tag {
  font-size: 0.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  padding: 2px 4px;
  white-space: nowrap;
}

.access-link {
  text-decoration: none;
  color: white;
  background-color: #151d48;
  font-size: 0.7rem;
  margin: auto 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: fit-content;
  padding: 0 px;
  margin-left: auto;
}

.access-link p {
  margin: 4px 6px;
}

#card-dates {
  font-size: 0.7rem;
  font-weight: 500;
}

/*media queries over 768px*/

@media (min-width: 768px) {
  .card {
    width: 350px;
    height: 220px;
    margin: 16px;
  }

  .card img {
    width: 120px;
    height: 120px;
  }

  .card-title {
    font-size: 1rem;
  }

  .cards-tags {
    margin-top: 0px;
  }

  .cards-tag {
    font-size: 0.75rem;
  }

  .access-link {
    font-size: 0.75rem;
    margin: auto 4px;
  }
}

/*event-card*/

/*mobile*/

#event-card-presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#event-short-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.85rem;
}

.events-date-discover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#discover-link {
  text-decoration: none;
  color: white;
  background-color: #151d48;
  font-size: 0.7rem;
  margin: auto 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: fit-content;
  padding: 0 px;
}

#discover-link p {
  margin: 4px 6px;
}

/*media queries over 768px*/

@media (min-width: 768px) {
  #event-short-description {
    font-size: 0.9rem;
  }
}

/*stadium card*/

/*mobile*/

.stadium-card-presentation {
  display: flex;
  flex-direction: column;
}

.stadium-card-presentation-and-access {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
}

#stadium-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.82rem;
  margin-bottom: 0;
}

/*cinemas card*/

/*mobile*/

#cinemas-website {
  text-align: center;
}

#cinemas-address {
  font-size: 0.75rem;
  margin-bottom: 0;
}

#cinemas-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-left: auto;
}

.cinemas-card-presentation-and-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 16px;
}

/*media queries over 768px*/

@media (min-width: 768px) {
  #cinemas-links {
    justify-content: center;
  }

  .access-link {
    margin: 8px;
  }
}
